<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/" method="post">
            <label for="title">Enter CD Title</label>
            <input type="text" name="title" placeholder="enter CD title here">
            <label for="artist">Enter CD Artist</label>
            <input type="text" name="artist" placeholder="enter CD artist here">
            <br>
            <button type="submit">Submit</button>
        </form>

        <p><a href="/">View all CD's</a>
    </body>
</html>
