<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>My CD List</h1>
        <ul>
            @foreach(var cd in Model)
            {
                <li>@cd.GetTitle() | @cd.GetArtist() </li>
            }
        </ul>

        <a href="/cd/add">Add a New CD.</a>


    </body>
</html>
